body {
    background-image: url("../images/wood_background.png");
    background-size: 100%;
}

#title {
    width: 70%;
    margin: 0 auto;
}

#clipBoard {
    margin-top: -60%;
    transform: rotate(-10deg);
    width: 90%;
    margin-left: 15%;
}

#text {
    position: absolute;
    margin-top: -89%;
    width: 59%;
    margin-left: 35%;
    transform: rotate(-9.5deg);
    font-family: 'Great Vibes', Helvetica, sans-serif;
    font-size: 27px;
}

#photo {
    margin-left: 90%;
    width: 75%;
    transform: rotate(8deg);
}

#key {
    width: 50%;
    margin-top: 90%;
    cursor: pointer;
}

#plant {
    margin-top: -10%;
    margin-left: 10%;
}

#iPad {
    margin: 0 auto;
    margin-top: 5%;
}

@media only screen and (max-width: 1200px) {
    #text {
        font-size: 22px;
    }
}

@media only screen and (max-width: 991px) {
    #text {
        font-size: 17px;
        width: 57%;
    }
}

@media only screen and (max-width: 767px) {
    #photo {
        margin-left: 49%;
        width: 51%;
        transform: rotate(8deg);
    }
    #clipBoard {
        margin-top: -43%;
        transform: rotate(-10deg);
        width: 70%;
        margin-left: 0%;
    }
    #text {
        margin-left: 55px;
        font-size: 76%;
        width: 43%;
        margin-top: -66%;
    }
    #key {
        margin-left: 73%;
        width: 24%;
        margin-top: -49%;
        cursor: pointer;
    }
    #plant {
        width: 37%;
        margin-top: 2%;
        margin-left: 60%;
    }
}
