body {
    background-image: url("../images/wood_background.png");
    background-size: 100%;
}

#title {
    width: 70%;
    margin: 0 auto;
}

#photo {
    transform: rotate(-8deg);
}

#clipBoard {
    transform: rotate(10deg);
    width: 90%;
}